<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/iframe.css" />
        <script type="text/javascript" src='<?=WEB_APPLICATION_PUBLIC?>js/compatibility.js'></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/iframe.js"></script>
    </head>
    <body>
        <div class="iframeDiv">
            <iframe class="Top" name="iframeTop" src="<?=WEB_APPLICATION?>Admin/Index/top"></iframe>
            <iframe class="Left" name="iframeLeft" src="<?=WEB_APPLICATION?>Admin/Index/left" id="iframeLeft"></iframe>
            <iframe class="Right" name="iframeRight" id="iframeRight" src="<?=WEB_APPLICATION?>Admin/Index/right"></iframe>
        </div>
    </body>
</html>