<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/iframe.css" />
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/iframe.js"></script>
    </head>
    <body>
        <div class="leftDiv">
        	<ul class="firstMenu" id="menuUl1" style="height:auto;">
                <li><div id="menut1">首页管理</div>
                    <ul class="secondMenu">
                        <li><div><a href="/Admin/Article/addArticle" target="iframeRight">导航面板</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">推荐文章</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">首页关键字</a></div></li>
                    </ul>
                </li>
            </ul>
            <ul class="firstMenu" id="menuUl2">
                <li><div id="menut2">文章管理</div>
                    <ul class="secondMenu">
                        <li><div><a href="/Admin/Article/addArticle" target="iframeRight">发表一篇新文章</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">文章管理列表</a></div></li>
                    </ul>
                </li>
            </ul>
            <ul class="firstMenu" id="menuUl3">
                <li><div id="menut3">归档管理</div>
                    <ul class="secondMenu">
                        <li><div><a href="/Admin/Group/addGroup" target="iframeRight">创建[自动]归档</a></div></li>
                        <li><div><a href="/Admin/Group/groupList" target="iframeRight">归档列表</a></div></li>
                        <li><div><a href="/Admin/Group/autoGroup" target="iframeRight">自动归档列表</a></div></li>
                    </ul>
                </li>
            </ul>
            <ul class="firstMenu" id="menuUl5">
                <li><div id="menut5">用户管理</div>
                    <ul class="secondMenu">
                        <li><div><a href="/Admin/Article/addArticle" target="iframeRight">添加用户</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">用户列表</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">删除用户</a></div></li>
                    </ul>
                </li>
            </ul>
            <ul class="firstMenu" id="menuUl6">
                <li><div id="menut6">管理员选项</div>
                    <ul class="secondMenu">
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">公告板</a></div></li>
                        <li><div><a href="/Admin/Article/articleList" target="iframeRight">用户信息</a></div></li>
                        <li><div><a href="/Admin/user/exit" target="iframeRight">退出</a></div></li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>