<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/iframe.css" />
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/iframe.js"></script>
    </head>
    <body>
        <div class="logo">
            <div class="logoTitle">欢迎 XXX 登陆 TrojanBox 后台管理，你可以在这里编辑及发布你的文章！</div>
        </div>
    </body>
</html>