@CHARSET "UTF-8";

.headMain {
	height: 290px;
}

.headNaviList {
	width: 100%;
	height: 30px;
	background: #E8E8E8;
	float: left;
}

.headNLContent {
	height: 100%;
	color: #3D3D3D;
	font-size: 12px;
	box-shadow: 1px 1px 2px rgba(197, 197, 197, 1);
	clear: both;
}

.headNLContent div {
	height:30px;
	padding: 0 8px;
	float: left;
	line-height: 30px;
}

.headNLContent div:hover {
	background: #C1C1C1;
}

.headNLContent a {
	text-decoration: none;
	color: #3D3D3D;
}

.headTitle {
	width: 100%;
	height: 70px;
	float: left;
}

.headTLeft {
	width: 620px;
	height: 100%;
	float: left;
}

.headTLTitle {
	color: #3D3D3D;
	font-size: 30px;
	padding-top: 15px;
	padding-left: 10px;
	float: left;
}

.headTlTFen {
	margin-top: 33px;
	float: left;
}

.headTRight {
	width: 400px;
	height: 100%;
	float: right;
}

.headTLSim {
	color: #3D3D3D;
	font-size: 12px;
	padding-top: 37px;
	padding-right: 20px;
	float: right;
}

.bodyMain {
	height: auto;
	width: 1024px;
	margin: 15px auto 0 auto;
	display: block;
	background: #F8F8F8;
	border: 1px solid #E7E7E7;
}

.bodyMLContent {
	float: left;
}

.bodyMLCDiv {
	color: #616161;
	font-size: 14px;
	padding: 15px;
	line-height: 27px;
}

.bodyMainLeft {
	position: relative;
	height: 100%;
	width: 694px;
	border-right: 1px solid #E7E7E7;
	background: #FCFCFC;
	float: left;
	background: #FCFCFC;
}

.bodyMainRight {
	position: static;
	min-height: 100%;
	width: 327px;
	background: #F8F8F8;
	color: #616161;
	float: right;
}

.bodyMLTitle {
	width: 100%;
	height: 59px;
	border-bottom: 1px solid #E7E7E7;
	float: left;
}

.bodyMLTitleF {
	color: #616161;
	margin-left: 15px;
	line-height: 210%;
	font-size: 1.8em;
	clear: both;
}

.bodyMLTContent {
	width: 100%;
	height: auto;
}

.bodyMLTCDiv {
	width: 100%;
	height: 99px;
	float: left;
}

.bodyMLTCDC {
	width: 100%;
	height: 98px;
	float: left;
}

.bodyMLTCDCSeparator {
	width: 96%;
	height: 1px;
	margin: 0 auto;
	margin-left: 2%;
	background: #E7E7E7;
	float: left;
}

.bodyMLTCDCCentent {
	width: 606px;
	height: 78px;
	margin-top: 10px;
	float: left;
}

.bodyMLTCDCCTD {
	width: 100%;
	height: 20px;
}

.bodyMLTCDCCTitle {
	margin-left: 10px;
	font-weight: bold;
	color: #616161;
	float: left;
}

.bodyMRCDiv {
	width: 100%;
	height: auto;
	float: left;
}

.bodyMRCDTitle {
	width: 100%;
	height: auto;
	font-size: 18px;
}

.bodyMRCDTitleF {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

.bodyMRCDTManage {
	margin-top: 23px;
	margin-left: 15px;
	font-size: 12px;
	float: left;
}

.bodyPage {
	width: 100%;
	height: 60px;
	float: left;
}

.bodyPageDiv {
	width: 640px;
	height: 30px;
	font-size: 12px;
	margin: 0 auto;
	margin-top: 15px;
}

.bodyPageDiv div {
	float: left;
}

.bodyPageDA {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
	background: #e7e7e7;
}

.bodyPageDC {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #e7e7e7;
}

.bodyPageDB {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
	background: #e7e7e7;
}

.bodyPageCurr {
	background: #525252;
	color: #fff;
}

.end {
	width: 100%;
	height: 200px;
	margin-top: 20px;
	border-top: 2px solid #1A1A1A;
	background: #2D2D2D;
}

.endDiv {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

div[class^=endDivS] {
	width: 340px;
	height: 100%;
	float: left;
	margin-right: 1px;
}

.endDStitle {
	color: #fff;
	font-size: 38px;
}

.endDContent {
	margin-top: 10px;
	margin-left: 3px;
	color: #fff;
	line-height: 16px;
	font-size: 12px;
}

.com-trojanbox-comment-framework {
	border-top: 1px solid #E7E7E7;
	padding: 5px 5px 0px 5px;
	color: #616161;
}


.com-trojanbox-comment-title {
	font-size: 24px;
	padding: 10px 10px 15px 10px;
	border-bottom: 1px solid #E7E7E7;
	background: #F8F8F8;
	cursor: pointer;
}

.com-trojanbox-comment-title:hover {
	border-bottom: 1px solid #C7C7C7;
	background: #F5F5F5;
}

.com-trojanbox-comment-lists {
	margin-top: 5px;
}

.com-trojanbox-comment-content {
	margin-bottom: 5px;
	border: 1px solid #E7E7E7;
	font-size: 12px;
	background: #FAFAFA;
	padding: 5px;
	cursor: pointer;
}

.com-trojanbox-comment-content:hover {
	border: 1px solid #C7C7C7;
	background: #F5F5F5;
}

.com-trojanbox-comment-content-author {
	width: 100%;
	float: left;
}

[class^=com-trojanbox-comment-user] {
	font-weight: bolder;
	float: left;
}

.com-trojanbox-comment-floor {
	float: right;
}

.com-trojanbox-commect-usercontinue {
	padding: 10px;
	word-break: break-all;
	float: left;
}

.com-trojanbox-abscomment-frame {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	background: -ms-linear-gradient(top,rgba(0, 0, 0,0.7), rgba(0, 0, 0, 0.7));
}

.com-trojanbox-abscomment-dframe {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 300px;
	top: 50%;
	left: 0px;
	margin-top: -150px;
	background: #2D2D2D;
}

.com-trojanbox-abscomment-iframe {
	width: 1024px;
	height: 100%;
	margin: 0px auto;
}

.com-trojanbox-ab-i-margin {
	margin: 15px;
	color: #FFFFFF;
}

.com-trojanbox-abscomment-title {
	color: #FFFFFF;
	font-size: 1.8em;
}

.com-trojanbox-abscomment-title font {
	font-size: 12px;
	margin-left: 15px;
}

.com-trojanbox-abs-table {
	margin-top: 20px;
	width: 100%;
}

.com-trojanbox-abs-table tr td {
	padding: 5px;
}

.com-trojanbox-abs-table tr td:first-child {
	font-size: 12px;
	width: 50px;
	text-align: right;
}

.com-trojanbox-abs-username {
	min-width: 100%;
	border: 0px solid #000000;
	height: 25px;
}

.com-trojanbox-abs-content {
	min-width: 100%;
	max-width: 100%;
	min-height: 120px;
	max-height: 120px;
	border: 0px solid #000000;
}

.com-trojanbox-abs-bottom {
	padding: 4px 15px;
	border: 0px;
	background: #FFFFFF;
}

