* {
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑;
	font-size: 12px;
}

.userlogin {
	position: fixed;
	height: 200px;
	margin: 20px 0 0 20px;
}

.public {
	width: 200px;
	height: 16px;
	border: #525252 solid 2px;
	padding: 3px;
	background: #fff;
	float: left;
}

.submit {
	height: 26px;
	border: #525252 solid 2px;
	border-left: 0px;
	float: left;
	background: #525252;
	padding: 0px 15px;
	color: #FFFFFF;
	font-weight: bold;
}

.submit:hover {
	background: #5A5A5A;
}

.submit:active {
	background: #6F6F6F;
}