<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/articlelist.css" />
        <script type="text/javascript" src='<?=WEB_APPLICATION_PUBLIC?>js/compatibility.js'></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/articlelist.js"></script>
    </head>
    <body>
        <div style="font-weight: bold;margin:20px 0 0 20px;font-size:23px;color:#3D3D3D;">自动分组/归档<span style="margin-left:10px;font-size:12px;color:#3D3D3D;">自动归档列表，将您的文章按指定规则置入归档分组中。</span></div>
    	
    </body>
</html>