<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/articlelist.css" />
        <script type="text/javascript" src='<?=WEB_APPLICATION_PUBLIC?>js/compatibility.js'></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/articlelist.js"></script>
    </head>
    <body>
        <div style="font-weight: bold;margin:20px 0 0 20px;font-size:23px;color:#3D3D3D;">分组列表/归档列表<span style="margin-left:10px;font-size:12px;color:#3D3D3D;">在这里管理您的分组/归档信息。</span></div>
        <table id='listView' cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>归档Id</td>
                <td>归档Pid</td>
                <td>名称</td>
                <td>描述</td>
                <td>管理</td>
            </tr>
            <? if (!empty($this->groupTreeLists)): ?>
	            <?php foreach ($this->groupTreeLists as $value): ?>
	            <tr>
	                <td><?=$value['id']?></td>
	                <td><?=$value['pid']?></td>
	                <td><? for ($i = 1; $i < $value['_floor_']; $i++): ?>&nbsp;&nbsp;<? endfor; ?><?=$value['name']?></td>
	                <td><?=$value['description']?></td>
	                <td><a href='/admin/group/editgroup/id/<?=$value['id']?>'>编辑</a> 
	                <a href='/admin/group/ajax_deletegroup/id/<?=$value['id']?>'>删除</a></td>
	            </tr>
	            <?php endforeach; ?>
			<? endif; ?>
        </table>
    </body>
</html>