<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/articlelist.css" />
        <script type="text/javascript" src='<?=WEB_APPLICATION_PUBLIC?>js/compatibility.js'></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/articlelist.js"></script>
    </head>
    <body>
        <div style="font-weight: bold;margin:20px 0 0 20px;font-size:23px;color:#3D3D3D;">文章管理列表<span style="margin-left:10px;font-size:12px;color:#3D3D3D;">在这里您可以轻易的管理您发布的文章！</span></div>
        <table id='listView' cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>文章标识</td>
                <td>分类</td>
                <td>作者</td>
                <td>标题</td>
                <td>发表日期</td>
                <td>操作列表</td>
            </tr>
            <? if (!empty($this->articleLists)): ?>
	            <? foreach ($this->articleLists as $value): ?>
	            <tr>
	                <td><?=$value['id'] ?></td>
	                <td><?=$value['name'] ?></td>
	                <td><?=$value['nickname'] ?></td>
	                <td><?=$value['title'] ?></td>
	                <td><?=$value['add_time'] ?></td>
	                <td><a href='/admin/article/editArticle/id/<?=$value['id'] ?>'>编辑</a> 
	                <a href='/admin/article/ajax_deleteArticle/id/<?=$value['id'] ?>'>删除</a></td>
	            </tr>
	            <? endforeach; ?>
			<? endif; ?>
        </table>
    </body>
</html>