<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/addarticle.css" />
        <link type="text/css" rel="stylesheet" href="<?=WEB_APPLICATION_PUBLIC?>css/adminPublic.css" />
        <script src="<?=WEB_APPLICATION_PUBLIC?>js/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src='<?=WEB_APPLICATION_PUBLIC?>js/jquery-2.0.2.min.js'></script>
        <script type="text/javascript" src="<?=WEB_APPLICATION_PUBLIC?>js/editarticle.js"></script>
    </head>
    <body>
        <div style="font-weight: bold;margin:20px 0 0 20px;font-size:23px;color:#3D3D3D;">发表一篇新文章<span style="margin-left:10px;font-size:12px;color:#3D3D3D;">发布一篇新文章。</span></div>
        <div class='publicFramework' style='padding-right: 20px;'>
        	<input type='hidden' name='id' id='id' value='<?=$this->articleInfo['id']?>'>
	    	<table class='publicTable' style='margin-bottom: 20px; width: 100%;'>
	    		<tr>
		            <td style="width:50px;font-size: 12px;">标题</td>
		        	<td colspan="5"><input type="text" name="title" id="titleText" class="inputAll" value='<?=$this->articleInfo['title']?>'/></td>
		        </tr>
		        <tr>
		            <td style="width:50px;font-size: 12px;">内容简介</td>
		        	<td colspan="5"><input type="text" name="description" id="description" class="inputAll" value='<?=$this->articleInfo['description']?>'/></td>
		        </tr>
		        <tr>
		            <td style="width:50px;font-size: 12px;">文章图片</td>
		        	<td colspan="5"><input type="file" name="articleImage" id="articleImage" class="inputAll"/></td>
		        </tr>
		        <tr>
		            <td style="width:50px;font-size: 12px; ">选择分类</td>
		        	<td colspan="5">
		                <select class="publicSelect" id="classify" style="width: 100%;">
		                    <? if (!empty($this->groupTreeLists)): ?>
								<? foreach ($this->groupTreeLists as $value): ?>
								<option value="<?=$value['id']?>" <?if ($value['id'] == $this->articleInfo['gid']):?>selected<?endif;?>>
									<? for ($i = 1; $i < $value['_floor_']; $i++): ?>&nbsp;&nbsp;<? endfor; ?>
									<?=$value['name']?>
								</option>
								<? endforeach; ?>
							<? endif; ?>
		                </select>
		            </td>
		        </tr>
		        <tr>
		            <td style="width:50px;font-size: 12px;">关键字</td>
		        	<td colspan="5"><input type="text" id="key" name="title" class="inputAll" value='<?=$this->articleInfo['key']?>'/></td>
		        </tr>
	    	</table>
	    	<textarea rows="30" cols="50" name="editor01" id="editor01"><?=$this->articleInfo['content']?></textarea>
                <script type="text/javascript">CKEDITOR.replace('editor01');</script>
	    	<input type='submit' id="lookArticle" value='提交'>
	    	<span id='messageBox'></span>
	    	<div style='clear: both;'></div>
    	</div>
    </body>
</html>