<? if (!empty($this->header)): ?>
<div class='stateColumn'>
	<div class='stateCShow'>
		<font class='stateCSLeft'>欢迎访问 木马博客</font>
		<font class='stateCSRight'>请记住我的域名 www.trojanbox.com :)</font>
	</div>
</div>
<div class='headMain'>
	<div class='headMLogoDiv'>
		<div class='headMLDLeft'>
			<div class='headLogo' itemprop="title">木马博客</div>
			<div class='headSignature' itemprop="signature">总有一天我的生命将抵达终点，而你，将加冕为王！</div>
		</div>
		<div class='headMLDRight'>
			<div class='headMLDRDivMessage'>
				<?if ($this->sql->isConnect):?>
					<font style='color: #FF6969;'>此次操作已触发数据连接！</font>
				<?endif;?>
			</div>
			<div class='headMLDRDiv'>
				<input type='text' value='点击进行关键字搜素' id='headMLDRDSeachText'>
				<input type='button' value='搜索' id='headMLDRDSeachButton'>
			</div>
		</div>
		<?include_once $this->publicPath . 'navi.html'?>
		<?include_once $this->publicPath . 'recommend.html'?>
		<?include_once $this->publicPath . 'articlenavi.html'?>
	</div>
</div>
<? endif; ?>