<? if (!empty($this->navi)): ?>
<div class='headNavigationDiv'>
	<div class='headNDTop'>
		<ul class='headNaviMain' id="headNaviMain">
			<li><a href='/'>首 页</a></li>
			<li><a href='/lists/1.html'>博 文 推 荐</a></li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>等 待 添 加</li>
			<li>
				快 速 通 道
				<ul class="headNaviMain2">
					<li><a href='http://www.baidu.com'>百 度</a></li>
					<li><a href='http://www.google.com.hk'>Google</a></li>
					<li><a href='http://cn.bing.com/'>Bing</a></li>
					<li>
						我 的 博 客
						<ul class="headNaviMain3">
							<li>三 级 菜 单</li>
							<li>三 级 菜 单</li>
							<li>三 级 菜 单</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class='headNDBottom'></div>
</div>
<? endif; ?>