<? if (!empty($this->recommend)): ?>
<div class='headAnimationDiv'>
	<div class='headADLeftDIV'>
		<div class='headADLDImg'>
			<div class='headADLDITop'></div>
			<div class='headADLDIBottom'>
				<div class='headADLDIBTOpacity'></div>
				<div class='headADLDIBTOpacityS'>
					<div class='headADLDIBTitle'>
						<div class='headADLDIBTitleF'>饥荒</div>
					</div>
					<div class='headADLDIBContent'>
						<div class='headADLDIBContentF'>Live or Death , Make your choice !</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class='headADRightDIV'>
		<embed src="http://www.xiami.com/widget/11227622_2088555,398472,174937,2099540,5839,1769149829,3905,1769578876,34092,3553076,1770875844,2561775,1769399774,384619,2100097,79388,1769019781,2074025,1769438112,_329_335_333333_2D2D2D_0/multiPlayer.swf" type="application/x-shockwave-flash" width="329" height="335" wmode="opaque"></embed>
		<!-- <div class='headADRDBlogRecommend'>
			<div class='headADRDBRTitle'>
				<div class='headADRDBRTF'>博主推荐</div>
			</div>
			<div class='headADRDBRMore'>
				<div class='headADRDBRMF'>查看更多</div>
			</div>
		</div>
		<div class='headADRDBlogImg'>
			<img class='headADRDBlogImgF'
				src="<?=WEB_APPLICATION_PUBLIC?>images/29746-106.jpg">
		</div>
		<div class='headADRDBlogContent'>
			<div class='headADRDBlogContentF'>&nbsp;&nbsp;&nbsp;&nbsp;凯伊拉是爱沙尼亚的城镇，位于该国西北部的凯伊拉河畔，距离首都塔林25公里，由哈留县负责管辖，面积11.25平方公里，2009年人口9,873，83%和12%居民分别是爱沙尼亚人和俄罗斯人。在苏联时期，凯伊拉的郊外建立了一个军事基地，驻扎着士兵和坦克。</div>
		</div> -->
	</div>
</div>
<? endif; ?>